.field--type-icon-field-type .js-form-type-radio {
  float: left;
  width: 90px;
  height: 90px;
}

.field--type-icon-field-type .form-radios::after {
  display: block;
  clear: both;
  content: "";
}
